@tailwind base;
@tailwind components;
@tailwind utilities;

.glassMorphism {
  background: rgba(242, 242, 242, 0.174);
  backdrop-filter: blur(9.6px);
  -webkit-backdrop-filter: blur(9.6px);
}

.fade-img {
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.2) 60%, rgba(0, 0, 0, 0));
  }